/*------ General selector-----  */
body {
    font-family: 'Roboto', sans-serif;
}

/* ------Utility selector-----  */

/* color zone  */
:root {
    --light: #ffffff;
    --dark: #000000;
}

.my_background {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, #a91e1e, transparent), linear-gradient(to top, #45004a 50%, transparent);
}

span.scaleLetter {
    transition-duration: 0.3s;

}

.scaleLetter:hover {
    transform: scale(1.3);
    display: inline-block;
    cursor: grab;
}

/* dimension zone  */

/* Container zone  */
.email_list {
    padding: 15px;
    border-radius: 20px;
    background-color: var(--light);
    list-style: none;
}



/* Waiting Hourglass */
.hourglass_container i {
    font-size: 25px;
    color: white;
}
.hourglass_container > div:not(.hourglass_visible) {
    display: none !important;
}


.hourglass2 {
    animation: spin 1s linear infinite;
}

/* ANIMATION  */

@keyframes spin {
    0% {
        transform: rotate(0deg);
    } 25% {
        transform: rotate(180deg);

    } 100% {
        transform: rotate(180deg);

    }
} 